
@{
    ViewData["Title"] = "Index";
}

@model ComponentTypesIndexViewModel
<h1>Index</h1>


<div>
    <h2>Component types list</h2>
    <ul>
        @foreach (var item in this.Model.ComponentTypes)
        {
            <li>@item.Name</li>
        }
    </ul>

</div>