
@{
    ViewData["Title"] = "Edit Component";
}

<h1>Add Component</h1>

@Html.Partial("_Form")

@section Scripts {
    <script type="text/javascript" charset="utf8" src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" charset="utf8" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}