
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

@Html.Partial("_Form")

@section Scripts {
    <script type="text/javascript" charset="utf8" src="~/lib/underscore/underscore-min.js"></script>
    <script type="text/javascript" charset="utf8" src="~/js/configurations/form.js"></script>
    <script type="text/javascript" charset="utf8" src="~/js/configurations/edit.js"></script>
    <script>
        loadConfiguration(@ViewBag.Id);
    </script>
}