
@{
    ViewData["Title"] = "Index";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/DataTables/datatables.css">
}

<h1>Manage Configurations</h1>


<div>
    <h2>Configurations list</h2>
    @Html.ActionLink("Add Configuration", "Add", "Configurations", null, new { @class = "btn btn-success" })
    <table id="configurations-table"></table>
</div>

@section Scripts {
    <script type="text/javascript" charset="utf8" src="~/DataTables/datatables.js"></script>
    <script type="text/javascript" charset="utf8" src="~/js/grid.js"></script>
    <script type="text/javascript" charset="utf8" src="~/js/configurations.js"></script>
}