
@{
    ViewData["Title"] = "Index";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/DataTables/datatables.css">
}

<h1>Manage Components and Types</h1>


<div>
    <h2>Component types list</h2>    
    <table id="component-types-table"></table>
</div>

<div>
    <h2>Components list</h2>
    @Html.ActionLink("Add Component", "AddComponent", "Management", null, new { @class = "btn btn-success" })
    <table id="components-table"></table>
</div>

@section Scripts {
    <script type="text/javascript" charset="utf8" src="~/DataTables/datatables.js"></script>
    <script type="text/javascript" charset="utf8" src="~/js/grid.js"></script>
    <script type="text/javascript" charset="utf8" src="~/js/management.js"></script>
}